
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Payment Information</h2>
		</div>
	<div class="col-6 text-end">
		<a asp-controller="Payment" asp-action="Upsert" class="btn btn-outline-primary">
			<i class="bi bi-plus-circle"></i> &nbsp; Add New Payment
		</a>
	</div>
</div>
<br/> <br/>


		<table id="tblData" class="table table-bordered table-striped " style="width: 100%">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Mobile Number</th>
					<th>Date</th>
					<th>Notes</th>
					<th>Mode of Payment</th>
					<th>Amount</th>
					<th>Payment Status</th>
					<th>Actions</th>
				</tr>
			</thead>
		</table>
	</div>


@section Scripts{
	<script src="~/js/payment.js"></script>
}