

<form method="post">
    <br />
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class="row">
                    <div class="col-6 pt-2">
                        <i class="bi bi-calendar-check"></i> &nbsp;
                        <b>Appointment Overview</b>
                    </div>
                 </div>
             </div>

     <div class="row mt-4">
      <div class="col-sm-6">
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title"><strong>Patient Info</strong></h5>
            <p class="card-text">NAME: </p>
            <p class="card-text">EMAIL: </p>
            <p class="card-text">PHONE NUMBER: </p>
            <p class="card-text">BIRTH: </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><strong>Appointment Details</strong></h5>
            <p class="card-text">Nature of Appointment</p>
            <p class="card-text">Day, Date, at , Time</p>
          </div>
        </div>
      </div>

      <div class="card-footer">
          <div class="card-footer row">
              <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-11 offset-md-6 ">
          
                    <a  class="btn btn-link btn-outline-danger" style="text-decoration: none">Cancel</a>
              </div>
          </div>
      </div>

    </div>










        </div>
         </div>


</form>
