@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Placed Successfully!</h1>
         Payment Number:  @Model <br /><br />
        <img src="~/assets/images/Success.png" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your payment has been placed successfully! <br />
        
    </div>
</div> 

