@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
@*
	<section id="home-section" class="home-section full-screen home-bg">
		<div class="hero-video">
			<video autoplay="" loop="" muted="" playsinline="" preload="" poster="./assets/images/general/video_placeholder.jpg" id="spb-video" __idm_id__="409601">
				<source src="./assets/images/spb_video.mp4" type="video/mp4">
			</video>
			
		<div class="video-overlay text-center">
				<h1 id="hero-text-p" data-aos-once="true" data-aos="zoom-in" style="top: -0.4px;" class="aos-init aos-animate">KOOL SMILES <br> Dental Clinics</h1>
			</div>
		</div>
			<br/> <br/>
	<h1 class="display-4">KOOL SMILES</h1>
	<h1 class="display-4">DENTAL CLINICS</h1>


</section>*@

	
</div>


<video src="./assets/images/spb_video.mp4" autoplay loop muted></video>
<div class="overlay">
	<h1 class="display-1 text-center" style="color:#fff; font-size: 120px; 
">DENTAPIX <br /> DENTAL CLINIC</h1>
</div>
