


<div class="bg-image">
        <img src="~/assets/images/AboutUsCover.png" class="img-fluid">
</div>

<section  class="bg-light p-5 text-right">
		<div  class="container">

		<div class="row pb-3">
			<h1 class="text-primary text-center"><b>About Us</b></h1>	
			<hr/>
			<h5>Dentapix Dental Clinic is the pioneer in offering dental services. We strive to provide you with the best dental care and excellence in our services. Dentapix Dental Clinic was established in 2022. Don't hesitate to go through our site to know more about us, our dentists, our clinics and other services we provide.
			</h5>
		
		</div>
</div>
</section>


<section  class="bg-light text-dark p-5 text-right">
		<div  class="container">

	<div class="row pb-3">
		<h1 class="text-primary text-center"><b>Discover your options <br />Visit us today!</b></h1>	
		<hr/>
		<h5>Our goal at Dentapix Dental Clinic is to create an environment that’s as safe and comfortable as possible. We know that a lot of people are scared of visiting the dentist, and we want to change that. Our flagship clinic is designed to be beautiful, with light colors throughout and modern furniture. We also hired a team of dentists who want you to have the best experience possible.
		</h5>

	   <div class="text-center">
			<a class="btn btn-link btn-outline-primary" asp-area="Customer"  asp-controller="OnlineAppointment" asp-action="Insert" style="text-decoration: none; width:150px;" >BOOK NOW</a>
	   </div>
	
		
	</div>
</div>
</section>