@model DentaPix_Clinic.Models.ViewModels.PatientVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="Patient.PatientId" hidden/>
	<input asp-for="Patient.ImageURL" hidden/>

	<div class="row">
		<div class="col-10">
		<div class="border p-3 mt-4 row">
		<div class="col-12 pb-2">
			<h2 class="text-primary">@(Model.Patient.PatientId!=0?"Update": "Add") Patient</h2>
			<hr />
		</div>
	
		<div class="mb-3">
			<label asp-for="Patient.ImageURL"></label>
			<input type="file" id="uploadBox" name="file" class="form-control"/>
		</div>

			<div class="col-4 form-floating mb-3">
				<input asp-for="Patient.FirstName" class="form-control" id="floatingInput" placeholder="ex.Jane">
				<label for="floatingInput">First Name</label>
				<span asp-validation-for="Patient.FirstName" class="text-danger"></span>
			</div>  
			 <div class="col-4 form-floating mb-3">
				<input asp-for="Patient.MiddleInitial" class="form-control" id="floatingInput" placeholder="ex.Jane">
				<label for="floatingInput">Middle Initial</label>
				<span asp-validation-for="Patient.MiddleInitial" class="text-danger"></span>
			</div>  
			<div class="col-4 form-floating mb-3">
				<input asp-for="Patient.LastName" class="form-control" id="floatingInput" placeholder="ex.Jane">
				<label for="floatingInput">Last Name</label>
				<span asp-validation-for="Patient.LastName" class="text-danger"></span>
			</div>  

		<div class="mb-3 col-6">
			<label asp-for="Patient.Birthday"></label>
			<input asp-for="Patient.Birthday" class="form-control"/>
			<span asp-validation-for="Patient.Birthday" class="text-danger"></span>
		</div>
		<div class="mb-3  col-6">
		   <label asp-for="Patient.Address"></label>
			<input asp-for="Patient.Address" class="form-control"/>
			<span asp-validation-for="Patient.Address" class="text-danger"></span>
		</div>
		<div class="mb-3 form-floating col-6">
			<input asp-for="Patient.PhoneNo" class="form-control" id="floatingInput" placeholder="ex.Jane">
			<label for="floatingInput">Mobile Number</label>
			<span asp-validation-for="Patient.PhoneNo" class="text-danger"></span>
		</div>
		<div class="mb-3 form-floating col-6">
			<input asp-for="Patient.Email" class="form-control" id="floatingInput" placeholder="ex.Jane">
			<label for="floatingInput">Email</label>
			<span asp-validation-for="Patient.Email" class="text-danger"></span>
		</div>
		<div class="mb-3 form-floating col-6">
			<input asp-for="Patient.Gender" class="form-control" id="floatingInput" placeholder="ex.Jane">
			<label for="floatingInput">Gender</label>
			<span asp-validation-for="Patient.Gender" class="text-danger"></span>
		</div>
		<div class="mb-3 form-floating col-6">
			<input asp-for="Patient.Parent" class="form-control" id="floatingInput" placeholder="ex.Jane">
			<label for="floatingInput">Parent/Guardian</label>
			<span asp-validation-for="Patient.Parent" class="text-danger"></span>
		</div>

		<div class="col-12">
			<a asp-controller="Patient" asp-action="Index" class="btn btn-outline-secondary" style="width: 150px">Back</a>
			@*<button type="submit" onclick="return ValidateInput()" class="btn btn-outline-primary" style="width: 150px">Update</button>*@
			
			@if(Model.Patient.PatientId!=0){
				<button type="submit" class="btn btn-outline-primary" style="width: 150px">Update</button>
			}
			else
			{
			<button type="submit" onclick="return ValidateInput()"  class="btn btn-outline-primary" style="width: 150px">Add</button>
			}
		</div>
	</div>

		</div>
		<div class="col-2 pt-4">
			<img src="@Model.Patient.ImageURL" 
			 width= "100%" style="border-radius: 5px; border:1px solid #bbb9b9 " 
			/>
		</div>
	</div>


</form>

@section Scripts { 
	@{
	<partial name="_ValidationScriptsPartial" />

	}

	<script>
		function ValidateInput(){
			if(document.getElementById("uploadBox").value==""){
				Swal.fire({
					  icon: 'error',
					  title: 'Oops...',
					  text: 'Please upload a Profile Picture!',
					});
			return false;
			}
			return true;
}
	</script>
	
}