
@{
	ViewData["Title"] = "Index";
}


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Manage Appointment</h2>
		</div>
	<div class="col-6 text-end">
		<a asp-controller="Appointment" asp-action="Upsert" class="btn btn-outline-primary">
			<i class="bi bi-plus-circle"></i> &nbsp; Add New Appointment
		</a>
	</div>
</div>
<br/> <br/>


		<table id="tblData" class="table table-bordered table-striped " style="width: 100%">
			<thead>
				<tr>
					<th>Appointment No.</th>
					<th>Patient Name</th>
					<th>Appointment Date</th>
					<th>Appointment Time</th>
					<th>Appointment Day</th>
					@*<th>Appointment Status</th>*@
					<th>Actions</th>

				</tr>
			</thead>
		</table>
	</div>


@section Scripts{
	<script src="~/js/appointmentDebug.js"></script>
}