@model DentaPix_Clinic.Models.ViewModels.AppointmentVM

<form method="post" asp-action="Upsert">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Appointment</h2>
			<hr />
		</div>

		<div class="mb-3 mx-5">
			<label asp-for="Appointment.AppointmentNo"></label>
			<input asp-for="Appointment.AppointmentNo" class="form-control"/>
			<span asp-validation-for="Appointment.AppointmentNo" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Appointment.FirstName"></label>
			<input asp-for="Appointment.FirstName" class="form-control"/>
			<span asp-validation-for="Appointment.FirstName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Appointment.LastName"></label>
			<input asp-for="Appointment.LastName" class="form-control"/>
			<span asp-validation-for="Appointment.LastName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Appointment.Email"></label>
			<input asp-for="Appointment.Email" class="form-control"/>
			<span asp-validation-for="Appointment.Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Appointment.MobileNo"></label>
			<input asp-for="Appointment.MobileNo" class="form-control"/>
			<span asp-validation-for="Appointment.MobileNo" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Appointment.AppointmentDate "></label>
			<input asp-for="Appointment.AppointmentDate " class="form-control"/>
			<span asp-validation-for="Appointment.AppointmentDate " class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Appointment.NatureOfAppointment "></label>
			<input asp-for="Appointment.NatureOfAppointment " class="form-control"/>
			<span asp-validation-for="Appointment.NatureOfAppointment " class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Appointment.Birthday"></label>
			<input asp-for="Appointment.Birthday" class="form-control"/>
			<span asp-validation-for="Appointment.Birthday" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Appointment.Message"></label>
			<textarea asp-for="Appointment.Message" rows="3" class="form-control"></textarea>
		</div>	
		<div class="mb-3">
			<label asp-for="Appointment.DoctorId"></label>
			<select asp-for="Appointment.DoctorId" asp-items="@Model.DoctorList" class="form-select">
				<option disabled selected>--Select Doctor--</option>
			</select>
		</div>	
		
		<a asp-controller="Appointment" asp-action="Index" class="btn btn-outline-secondary" style="width: 150px">Back</a>
		<button type="submit" class="btn btn-outline-primary" style="width: 150px">Update</button>
	</div>
</form>

@section Scripts { 
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}