@model Doctor

<form method="post" asp-action="Details">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Doctor Details</h2>
			<hr />
		</div>
		<div class="mb-3">
			 @* <label asp-for="ProfilePictureURL"></label>
			  <input asp-for"="ProfilePictureURL" type="file" id="formFile" class="form-control">*@
			
			<label asp-for="ProfilePictureURL"></label>
			<input asp-for="ProfilePictureURL" class="form-control"/>
			<span asp-validation-for="ProfilePictureURL" class="text-danger"></span>

		</div>
		<div class="mb-3">
			<label asp-for="FullName"></label>
			<input asp-for="FullName" class="form-control"/>
			<span asp-validation-for="FullName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Career"></label> 
			<input asp-for="Career" class="form-control"/>
			<span asp-validation-for="Career" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Interest"></label>
			<input asp-for="Interest" class="form-control"/>
			<span asp-validation-for="Interest" class="text-danger"></span>

		</div>
		<a asp-controller="Doctors" asp-action="Index" class="btn btn-secondary" style="width: 150px">Back</a>
		<button type="submit" class="btn btn-primary" style="width: 150px">Update</button>


	</div>

</form>
@section Scripts{
	<partial name=_ValidationScriptsPartial>
}