@model Appointment

<form method="post" asp-action="Insert" enctype="multipart/form-data">
	<input hidden asp-for="AppointmentId" />

	<div class="row">
		<div class="col-12 m-auto">
		<div class="border p-3 mt-4 row">
		<div class="col-12 pb-2">
			<h1 class="text-primary text-center">Book an Appointment</h1>
			<p class="text-warning text-center">Users need to be registered/logged in before they can submit an appointment! </p>
			<hr />
		</div>
		
			<div class="mb-3 form-floating col-6">
				<input asp-for="FirstName" class="form-control" id="floatingInput" >
				<label for="floatingInput">First Name</label>
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>  

			<div class="mb-3 form-floating col-6">
				<input asp-for="LastName" class="form-control" id="floatingInput" >
				<label for="floatingInput">Last Name</label>
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>  
		<div class="mb-3 form-floating col-6">
			<input asp-for="Email" class="form-control" id="floatingInput" >
			<label for="floatingInput">Email</label>
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3 form-floating col-6">
			<input asp-for="MobileNo" class="form-control" id="floatingInput" >
			<label for="floatingInput">Mobile Number</label>
			<span asp-validation-for="MobileNo" class="text-danger"></span>
		</div>
		
		<div class="mb-3 col-6">
			<label asp-for="Birthday"></label>
			<input asp-for="Birthday" class="form-control"/>
			<span asp-validation-for="Birthday" class="text-danger"></span>
		</div>

		<div class="mb-3 form-floating col-6">
			<input asp-for="NatureOfAppointment" class="form-control" id="floatingInput">
			<label for="floatingInput">Nature of Appointment</label>
			<span asp-validation-for="NatureOfAppointment" class="text-danger"></span>
		</div>
		
		<div class="mb-3 col-6">
			<label asp-for="AppointmentDate"></label>
			<input asp-for="AppointmentDate" class="form-control"/>
			<span asp-validation-for="AppointmentDate" class="text-danger"></span>
		</div>


		<div class="mb-3">
			<label asp-for="Message"></label>
			<textarea asp-for="Message" rows="3" class="form-control"></textarea>
		</div>

		<div class="col-12">

			<button type="submit"  asp-action="Insert" class="btn btn-outline-primary" style="width: 150px"  >Submit</button>
			@*<button type="submit"  asp-action="Details" class="btn btn-outline-primary" style="width: 150px" asp-route-appointmentId="AppointmentId">Details</button>*@

			@*<a class="btn btn-link btn-outline-primary" asp-action="Details" style="text-decoration: none" asp-route-appointmentId="AppointmentId">BOOK NOW</a>*@


		</div>
	</div>

		</div>

	</div>


</form>

@section Scripts { 
	@{
	<partial name="_ValidationScriptsPartial" />

	}

}